rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /readingPlans/{planId} {
      allow read: if true;
      allow write: if false;
    }

    match /notifications/{notifId} {
      allow read: if true;
      allow write: if false;
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /progress/{planId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}

